@font-face {
  font-family: "iconfont"; /* Project id 3636277 */
  src: url('/static/iconfont.ttf?t=1716369238204') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gateway:before {
  content: "\ec5d";
}

.icon-arrow-down:before {
  content: "\e667";
}

.icon-meter:before {
  content: "\ec4d";
}

.icon-userCenter:before {
  content: "\e620";
}

.icon-project-info:before {
  content: "\e61c";
}

.icon-location-line:before {
  content: "\e61e";
}

.icon-members:before {
  content: "\e61f";
}

.icon-lamp-fill:before {
  content: "\e615";
}

.icon-doc-line:before {
  content: "\e616";
}

.icon-calc-line:before {
  content: "\e618";
}

.icon-project-line:before {
  content: "\e619";
}

.icon-city-fill:before {
  content: "\e61a";
}

.icon-home-active:before {
  content: "\e611";
}

.icon-user-active:before {
  content: "\e612";
}

.icon-setting-line-active:before {
  content: "\e613";
}

.icon-group-setting:before {
  content: "\e60f";
}

.icon-base-setting:before {
  content: "\e600";
}

.icon-area-control:before {
  content: "\e601";
}

.icon-time-control:before {
  content: "\e602";
}

.icon-folder:before {
  content: "\e603";
}

.icon-pc:before {
  content: "\e604";
}

.icon-lock-line:before {
  content: "\e605";
}

.icon-user-line:before {
  content: "\e606";
}

.icon-home-line:before {
  content: "\e607";
}

.icon-heart:before {
  content: "\e608";
}

.icon-edit:before {
  content: "\e60a";
}

.icon-policy:before {
  content: "\e60b";
}

.icon-notice-line:before {
  content: "\e60c";
}

.icon-project:before {
  content: "\e60d";
}

.icon-setting-line:before {
  content: "\e60e";
}

.icon-setting:before {
  content: "\e610";
}

.icon-sort-down:before {
  content: "\e62d";
}

.icon-sort-up:before {
  content: "\eb9f";
}

.icon-success:before {
  content: "\e622";
}

.icon-recycle:before {
  content: "\f093";
}

.icon-richtext:before {
  content: "\e650";
}

.icon-excel:before {
  content: "\e627";
}

.icon-pdf:before {
  content: "\e628";
}

.icon-ppt:before {
  content: "\e629";
}

.icon-word:before {
  content: "\e62a";
}

.icon-shrink:before {
  content: "\e626";
}

.icon-enlarge:before {
  content: "\e6a7";
}

.icon-flag:before {
  content: "\e751";
}

.icon-close:before {
  content: "\e69f";
}

.icon-close-fill:before {
  content: "\e6a6";
}

.icon-search:before {
  content: "\e65f";
}

.icon-double-arrow-right:before {
  content: "\e6f2";
}

.icon-scan:before {
  content: "\e609";
}

.icon-arrow-right:before {
  content: "\e666";
}

.icon-lighting:before {
  content: "\e614";
}

.icon-percent:before {
  content: "\e652";
}

.icon-close-o:before {
  content: "\e659";
}

.icon-calculator:before {
  content: "\e6e5";
}

.icon-lamp:before {
  content: "\e644";
}

.icon-add:before {
  content: "\e664";
}

.icon-editor:before {
  content: "\e6f5";
}

.icon-filter:before {
  content: "\e69e";
}

.icon-folder-fill:before {
  content: "\e77f";
}

.icon-head-user:before {
  content: "\e6a0";
}

.icon-leaf:before {
  content: "\e621";
}

.icon-home:before {
  content: "\e7e1";
}

.icon-share:before {
  content: "\e7fb";
}

.icon-location:before {
  content: "\e665";
}

.icon-message:before {
  content: "\e641";
}

.icon-lock:before {
  content: "\e670";
}

.icon-unlock:before {
  content: "\e61d";
}

.icon-user:before {
  content: "\e65e";
}

.icon-calendar:before {
  content: "\e61b";
}

.icon-notice:before {
  content: "\e76e";
}

.icon-warning-fill:before {
  content: "\e701";
}

.icon-refresh:before {
  content: "\e624";
}

.icon-customer-service:before {
  content: "\e625";
}

.icon-warning:before {
  content: "\e617";
}

.icon-battery:before {
  content: "\e643";
}

